@model Real_Estate_Application.Models.Agent

@{
    ViewBag.Title = "Index";
}

@section Styles {
    <link href="~/Styles/CreateAgent.css" rel="stylesheet" type="text/css" />
}

@using (Html.BeginForm())
{
    <h1>Create Agent</h1>
    <div class="parent">
        <div class="child">
            <div class="input_container">
                <label for="SIN">Social Insurance Number:</label>
                @Html.TextBoxFor(m => m.SIN, new { @id = "SIN" })
            </div>

            <div class="input_container">
                <label for="firstName">First Name:</label>
                @Html.TextBoxFor(m => m.FirstName, new { @id="firstName" })
            </div>

            <div class="input_container">
                <label for="middleName">Middle Name:</label>
                @Html.TextBoxFor(m => m.MiddleName, new { @id = "middleName" })
            </div>

            <div class="input_container">
                <label for="lastName">Last Name:</label>
                @Html.TextBoxFor(m => m.LastName, new { @id = "lastName" })
            </div>

            <div class="input_container">
                <label for="loggedInUserName">Logged In User Name:</label>
                @Html.TextBoxFor(m => m.LoggedInUsername, new { @id = "loggedInUserName" })
            </div>

            <div class="input_container">
                <label for="streetAddress">Street Address:</label>
                @Html.TextBoxFor(m => m.StreetAddress, new { @id = "streetAddress" })
            </div>

            <div class="input_container">
                <label for="city">City:</label>
                @Html.TextBoxFor(m => m.City, new { @id = "city" })
            </div>
        </div>
        <div class="child">
            <div class="input_container">
                <label for="province">Province:</label>
                @Html.DropDownListFor(m => m.Province, new SelectList(ViewBag.Provinces), new { @id = "province" })
            </div>

            <div class="input_container">
                <label for="postalCode">Postal Code:</label>
                @Html.TextBoxFor(m => m.PostalCode, new { @id = "postalCode" })
            </div>

            <div class="input_container">
                <label for="homePhone">Home Phone:</label>
                @Html.TextBoxFor(m => m.HomePhone, new { @id = "homePhone" })
            </div>

            <div class="input_container">
                <label for="cellPhone">Cell Phone:</label>
                @Html.TextBoxFor(m => m.CellPhone, new { @id = "cellPhone" })
            </div>

            <div class="input_container">
                <label for="officePhone">Office Phone:</label>
                @Html.TextBoxFor(m => m.OfficePhone, new { @id = "officePhone" })
            </div>

            <div class="input_container">
                <label for="officeEmail">Office Email:</label>
                @Html.TextBoxFor(m => m.OfficeEmail, new { @id = "officeEmail" })
            </div>

            <div class="input_container">
                <label for="dateOfBirth">Date of Birth:</label>
                @Html.TextBoxFor(m => m.DateOfBirth, new { @id = "dateOfBirth" })
            </div>
        </div>
    </div>
    <button type="submit" id="btn_Create">Create</button>
}